﻿@{
    ViewBag.Title = "Contact";
}

<h1>Contacts</h1>

<address>
    <strong>Mathew Paschall:</strong>   mpaschall@my.gcu.edu<br />
    <strong>Robbie Evans III:</strong>  revansiii@my.gcu.edu
</address>